body {
    position: relative;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    color: hsl(207, 100%, 24%);
}

h2 {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 300;
    font-size: 7rem;
    color: hsl(207, 100%, 24%);
    margin-top: .1em;
}

h3 {
    color: hsla(0, 0%, 0%, 0.39);
}

p {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 2em;
    color: black;
}

.AC_px10 {
    padding-right: 10vmin;
    padding-left: 10vmin;
}

.AC_py10 {
    padding-top: 10vmin;
    padding-bottom: 10vmin;
}

.AC_px5 {
    padding-right: 5vmin;
    padding-left: 5vmin;
}

.AC_py5 {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.AC_px3 {
    padding-right: 3vmin;
    padding-left: 3vmin;
}

.AC_py3 {
    padding-top: 3vmin;
    padding-bottom: 3vmin;
}

.AC_home-video {
    flex: 1;
    align-self: stretch;
}

.AC_home-subvideo {
    height: 40vmax;
}

.AC_text-center {
    text-align: center;
}

.AC_text-left {
    text-align: left;
}

.AC_text-right {
    text-align: right;
}

.AC_col-centered {
    margin: 0 auto;
}

.AC_home-persona {
    background: gray;
    min-height: 300px;
    padding: 2rem;
}

#AC_navbar {
    height: 100%;
    position: absolute;
    bottom: 0;
    height: 70px;
    background: none;
    width: 100%;
    background: hsla(0, 0%, 0%, 0.27);
}

.AC_navbar {
    width: 100%;
    transition: .2s all .2s ease-in;
    z-index: 10;
    background: none;
    border: none;
}

.AC_navbar.affix {
    transform: translateY(10px);
    top: 0;
}

.AC_navbar p {
    color: white;
}

.AC_header {
    height: 75px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
    background: white;
}

.AC_navbar-li {
    padding: 2rem;
}

.AC_video-titlebox {
    position: relative;
}

.AC_video-title {
    color: hsl(0, 0%, 100%);
    font-size: 13vw;
    text-shadow: 0px 7px 1rem hsla(0, 0%, 0%, 0.42);
    font-weight: 100;
}

.AC_header-gallaudet {
    max-height: 100%;
    display: inline-block !important;
    z-index: 1;
    position: relative;
    max-height: 75px;
}

.AC_header-gallaudet:hover {
    -webkit-filter: contrast(1.4);
}

.AC_header-aslconnect {
    max-height: 100%;
    display: inline-block !important;
    z-index: 0;
    height: 70px;
}

.AC_category-buttons {
    border-radius: 2rem;
}

.AC_icon-search {
    display: inline-block;
}

.AC_icon-search img {
    height: 3rem;
    width: 3rem;
}

.AC_icons-xsmall {
    max-height: 7vw;
}

.AC_icons-small {
    max-height: 14vw;
}

.AC_fold {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.AC_home-video video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.AC_icons-heading {
    height: 8rem;
    display: inline-block;
    margin-right: 1rem;
}

.AC_icons-large {
    height: 19rem;
    display: inline-block;
    margin-right: 1rem;
    transform: translate(-3rem, -1rem);
    opacity: 0.4;
    position: absolute;
    right: 0;
    transition: .1s all .1s ease-in;
}

.AC_icons-large:hover {
    opacity: 0;
    transform: translateX(-2rem) scale(1.2);
}

.AC_icons-links {
    height: 4rem;
    display: inline-block;
    margin-right: .5rem;
}

.AC_icons-heading + .AC_icons-heading {
    margin-left: -1rem;
}

.AC_link {
    font-family: "Open Sans";
    display: inline-block;
    color:  hsl(60, 56%, 91%);
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: .2s all 0s ease-in-out;
    text-decoration: none;
    padding: .4em .6em;
    border: 4px solid hsl(207, 100%, 24%);
    border-radius: 4em;
    margin: 2em;
    background: hsl(207, 100%, 24%);

}

.AC_link:hover {
    text-decoration: none;
    color: hsl(207, 100%, 24%);
    border-color: hsl(60, 56%, 91%);
    background: hsl(60, 56%, 91%);
}

.AC_pills>li>a {
    background: hsla(0, 3%, 82%, 0.29);
    margin: 0.4rem;
    font-size: 2rem;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

.AC_pills>li>a:hover {
    background: hsla(0, 3%, 82%, 0.89);
}

.AC_pill {
    background: hsla(0, 3%, 82%, 0.29);
    margin: 0.4rem;
    font-size: 2rem;
    color: hsl(0, 0%, 0%);
    border-radius: 4px;
    padding: 10px 15px;
}

.AC_pill:hover {
    background: hsla(0, 3%, 82%, 0.89);
}

.AC_section {
    display: flex;
    min-height: 55vmin;
    width: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 6vmin;
}

.AC_section-box {
    max-width: 600px;
}

.AC_section-splash {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: gray;
    -webkit-filter: saturate(0);
    opacity: 0.2;
    background-size: cover;
}

.AC_section-splash.right{
    right: 0;
}

.AC_section-splash.left{
    left: 0;
}

.AC_section-splash.half{
    width: 50vw;
}

.AC_section-splash.quarter{
    width: 75vw;
}


.AC_moreresources{
    border-bottom: hsl(60, 56%, 91%) 5px solid;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}
