body {
    position: relative;
    opacity: 0;
}

body.visible {
    opacity: 1;
    transition: 1s all ease-out
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    color: hsl(207, 100%, 24%);
}

h2 {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 300;
    font-size: 7rem;
    color: hsl(207, 100%, 24%);
    margin-top: .1em;
}

h3 {
    color: hsla(0, 0%, 0%, 0.39);
}

p {
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 2em;
    color: black;
}

.AC_px10 {
    padding-right: 10vmin;
    padding-left: 10vmin;
}

.AC_py10 {
    padding-top: 10vmin;
    padding-bottom: 10vmin;
}

.AC_px5 {
    padding-right: 5vmin;
    padding-left: 5vmin;
}

.AC_py5 {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.AC_px3 {
    padding-right: 3vmin;
    padding-left: 3vmin;
}

.AC_py3 {
    padding-top: 3vmin;
    padding-bottom: 3vmin;
}

.AC_home-video {
    flex: 1;
    align-self: stretch;
}

.AC_home-subvideo {
    height: 40vmax;
}

.AC_text-center {
    text-align: center;
}

.AC_text-left {
    text-align: left;
}

.AC_text-right {
    text-align: right;
}

.AC_col-centered {
    margin: 0 auto;
}

.AC_home-persona {
    background: gray;
    min-height: 300px;
    padding: 2rem;
}

.AC_navbar {
    background: hsla(207, 96%, 20%, 0.82);
    color: hsl(0, 0%, 100%);
    width: 100%;
    z-index: 20;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.AC_navbar ul {
    list-style: none;
    display: flex;
    padding: 0 5vmin;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0;
}

.AC_navbar li:hover {
    font-size: 1rem;

}

.AC_navbar.affix {
    transform: translateY(10px);
    top: 0;
}

.AC_navbar-li a{
    color: white;
    margin: 0;
    font-size: 1rem;
    display: block;
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
}

.AC_navbar-li:hover a {
    transform: scale(1.2);
    text-decoration: none;
}

.AC_header {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
    background: white;
}

.AC_footer {
    height: 100px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
    background: white;
}

.AC_video-titlebox {
    position: relative;
}

.AC_video-title {
    color: hsl(0, 0%, 100%);
    font-size: 13vw;
    text-shadow: 0px 7px 1rem hsla(0, 0%, 0%, 0.42);
    font-weight: 100;
}

.AC_header-gallaudet {
    max-height: 100%;
    display: inline-block !important;
    z-index: 1;
    position: relative;
    max-height: 75px;
}

.AC_header-gallaudet:hover {
    -webkit-filter: contrast(1.4);
}

.AC_header-aslconnect {
    max-height: 100%;
    display: inline-block !important;
    z-index: 0;
    height: 70px;
}

.AC_header-aslconnect:hover{
    -webkit-filter:  hue-rotate(-10deg);
    transform: scale(1.2) translateX(5%);
}

.AC_category-buttons {
    border-radius: 2rem;
}

.AC_icon-search {
    display: inline-block;
}

.AC_icon-search img {
    height: 3rem;
    width: 3rem;
}

.AC_icons-xsmall {
    max-height: 7vw;
}

.AC_icons-small {
    max-height: 14vw;
}

.AC_home-video video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.AC_icons-heading {
    height: 8rem;
    display: inline-block;
    margin-right: 1rem;
    -webkit-filter: hue-rotate(7deg) saturate(0.6);
}

.AC_icons-large {
    height: 19rem;
    display: inline-block;
    margin-right: 1rem;
    transform: translate(-3rem, -1rem);
    opacity: 0.4;
    position: absolute;
    right: 0;
    transition: .1s all .1s ease-in;
}

.AC_icons-large:hover {
    opacity: 0;
    transform: translateX(-2rem) scale(1.2);
}

.AC_icons-links {
    height: 4rem;
    display: inline-block;
    margin-right: .5rem;
}

.AC_icons-heading + .AC_icons-heading {
    margin-left: -1rem;
}

.AC_link {
    font-family: "Open Sans";
    display: inline-block;
    color: hsl(60, 56%, 91%);
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: .2s all 0s ease-in-out;
    text-decoration: none;
    padding: .4em .6em;
    border: 4px solid hsl(207, 100%, 24%);
    border-radius: 4em;
    margin-top: 2em;
    background: hsl(207, 100%, 24%);
    text-align: center;
}

.AC_link:hover {
    text-decoration: none;
    color: hsl(207, 100%, 24%);
    border-color: hsl(60, 56%, 91%);
    background: hsl(60, 56%, 91%);
}

.AC_pills>li>a {
    background: hsla(0, 3%, 82%, 0.29);
    margin: 0.4rem;
    font-size: 2rem;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

.AC_pills>li>a:hover {
    background: hsla(0, 3%, 82%, 0.89);
}

.AC_pill {
    background: hsla(0, 3%, 82%, 0.29);
    margin: 0.4rem;
    font-size: 2rem;
    color: hsl(0, 0%, 0%);
    border-radius: 4px;
    padding: 10px 15px;
}

.AC_pill:hover {
    background: hsla(0, 3%, 82%, 0.89);
}

.AC_section {
    display: flex;
    min-height: 55vmin;
    width: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.AC_section-box {
    display: flex;
    /*flex-grow: .2; ADD TO MEDIA QUERY */
}

.AC_section-textbalancer {
    max-width: 600px;
    padding: 6vmin;
    position: relative;
    z-index: 1;
}

.AC_section-splash {
    min-height: 55vmin;
    flex: 1;
    background: gray;
    -webkit-filter: saturate(0);
    opacity: 0.2;
    background-size: cover;
    align-self: stretch;
    transition: .2s all ease-in-out;
}

.AC_section.left:hover .AC_section-splash {
    -webkit-filter: saturate(1);
    transform: translateX(-10%);
    opacity: 1;
}

.AC_section.right:hover .AC_section-splash {
    -webkit-filter: saturate(1);
    transform: translateX(10%);
    opacity: 1;
}

.AC_section:hover .AC_link {
    transform: scale(1.2);
}

.AC_section:hover .AC_icons-heading {
    transform: scale(1.2);
}

.AC_section-welcomebox {
    background: linear-gradient(-0deg, hsla(207, 100%, 24%, 0.8) 55%, hsla(0, 0%, 0%, 0) 100%);
    padding: 3rem;
    align-self: flex-end;
    width: 100%;
    transform: translateY(10vh);
    transition: 1s all cubic-bezier(0.42, 0, 0.35, 0.64);
    opacity: 0;
    padding-bottom: 120px;
}

.AC_section-welcomeboxhome {
    padding-bottom: 40vh;
}

.AC_section-welcome {
    padding: 0;
}

.AC_section-welcome h1 {
    font-weight: 700;
    font-size: 7vmin;
    font-family: 'Open Sans', sans-serif;
    color: hsl(54, 84%, 86%);
    transform: translateY(100%);
    opacity: 0;
}

.AC_section-welcome h2 {
    color: hsl(0, 0%, 100%);
    font-family: "Open Sans";
    transform: translateY(100%);
    font-size: 6vmin;
}

.AC_section-welcomebox.visible {
    opacity: 1;
    transform: translateY(0);
}

.AC_section-welcomebox.visible * {
    transform: translate(0);
    opacity: 1;
}

.AC_section-welcomebox * {
    transition: 0.5s all .75s ease-out;
}

.AC_section.right .AC_section-splash {
    order: 1;
}

.AC_section.left .AC_section-splash {
    order: 0;
}

.AC_section.right .AC_section-box {
    justify-content: flex-end;
}

.AC_section.left .AC_section-box {
    justify-content: flex-start;
}

.AC_section-splash.half {
    width: 55vw;
}

.AC_section-splash.quarter {
    width: 75vw;
}

.AC_section-more {
    background: beige;
    /*background: linear-gradient(0deg, hsl(0, 0%, 100%) 0%, hsl(60, 56%, 91%) 12%);*/
}

.AC_section-morecard {
    background: hsl(0, 0%, 100%);
    padding: 4rem;
    border: 1vw hsl(60, 56%, 91%) solid;
    transition: .1s all ease-in;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.AC_section-morecard:hover {
    transform: scale(0.9);
    border-color: hsl(207, 100%, 24%);
    -webkit-filter: contrast(0.8);
}

.AC_section-more h2 {
    font-family: "open sans";
    letter-spacing: 0em;
    text-transform: uppercase;
    /*transform: rotate(70deg);*/
    font-size: 8.7vmin;
    /*color: hsl(60, 51%, 84%);*/
    font-weight: 100;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: center;
}

.AC_section-morecard p{
    font-size: 2vmin;
}


.AC_section-morecard h3{
    font-size: 4vmin;
      color: black;
}

.AC_section-morecard img + h3{
    font-size: 2vmin;
}

.AC_section-gradient {
    background: linear-gradient(-180deg, hsl(0, 0%, 89%) 0%, hsl(0, 0%, 100%) 25%)
}

.AC_subtitle {
    font-size: 2.6em;
    font-family: "Open Sans";
    font-weight: 500;
    padding-bottom: 0.6em;
}

.AC_section-morecard img {
    margin: 0 auto;
}

.AC_fold {
    display: flex;
    min-height: 50vh;
    overflow: hidden;
    position: relative;
}

.AC_fold-home {
    min-height: 90vh;
    display: flex;
    overflow: hidden;
    position: relative;
}
